.container{
    width: 70%;
    margin: auto;
    text-align: center; 
}

body{
    background-color:rgb(238, 231, 231)
}

/* Alterações do botão */

button{
    padding: 20px 40px;   /* Aumenta o tamanho do botão */
    font-size: 20px;      /* Aumenta o tamanho da fonte */
    background-color: #981a33; /* Cor de fundo */
    color: white;         /* Cor do texto */
    border: none;         /* Remove a borda */
    border-radius: 10px;  /* Bordas arredondadas */
}

button:hover {
    background-color: #4a2a30; /* Cor de fundo mais escura ao passar o mouse */
}

/* Alterações da fonte*/
.dice p {
    font-size: 30px;        /* Aumenta o tamanho */
    font-weight: bold;      /* Deixa o texto em negrito */
    color:black       
}
